body {	
	background-color: white;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
	font-weight: normal;
	color: black;    	
    text-align: center;
    line-height: 1.5vw;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 140, 186);
    border: 2pt black;
}

#container {    
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 50px;
}

#instructions {
    display: block;
    line-height: 1.5;
}

#experimentBox {
    display: none;
}

.square {    
    display: none;    
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
}

#leftSquare {
    left: calc(50% - 200px);
}

#rightSquare {
    left: calc(50% + 200px);
}

#endMessage {
    display: none;
    font-size: 24pt;
    color: black;
    text-align: center;
    margin: auto;    
}